<nav>
	<div class="nav-wrapper">
	  <a href="#" class="brand-logo center">GoSocial</a>
	  <ul id="nav-mobile" class="left hide-on-med-and-down">
		 <li><a href="#">Home</a></li>
		 <li><a href="#">Contact Us</a></li>
		 <li><a href="#">My Profile</a></li>
	  </ul>
	</div>
 </nav>
 <script defer src="js/navbar.js"></script>